.catkin_workspace
logs
devel
build
.catkin_tools
src/rm_robot/arm_controller_code/scripts/img/
src/rm_robot/arm_controller_code/model/
src/rm_robot/arm_controller_code/scripts/weights/
src/easy_handeye
src/aruco_ros
src/robot_control/robtot_camera_control/model/*.onnx
src/robot_control/robtot_camera_control/model/*.yml
src/robot_control/robtot_camera_control/model/*.pd*
src/robot_control/robtot_camera_control/model/*.pt
src/robot_control/robtot_camera_control/scripts/img/
.xdp_rwm_moveit.workspace.U2GKM2
rwm_moveit.workspace.user
src/robot_control/robot_moveit_control/ui/mainwindow.ui.autosave
src/robot_control/rm65_grasping/scripts/robotic_arm_package/__pycache__/robotic_arm.cpython-38.pyc
src/robot_control/rm65_grasping/scripts/robotic_arm_package/__pycache__/log_setting.cpython-38.pyc
src/robot_control/rm65_grasping/scripts/robotic_arm_package/libRM_Base.so.1.0.0
src/robot_control/rm65_grasping/scripts/robotic_arm_package/libRM_Base.so.1.0
src/robot_control/rm65_grasping/scripts/robotic_arm_package/libRM_Base.so.1
src/robot_control/rm65_grasping/scripts/robotic_arm_package/libRM_Base.so
src/moveit_calibration
core
.vscode/c_cpp_properties.json
.vscode/settings.json
camera_pose.txt
.qtc_clangd
**/__pycache__
src/robot_control/robot_camera_control/model
src/robot_control/robot_moveit_control/scripts/1.py
src/robot_control/robot_camera_control/scripts/cache/model.trt
src/robot_control/robot_camera_control/scripts/*.png
.DS_Store
src/yd_description
src/yd_msgs