[submodule "src/robot_control/robot_helpers"]
	path = src/robot_control/robot_helpers
	url = https://mirror.ghproxy.com/https://github.com/mbreyer/robot_helpers.git
[submodule "src/realman_arm"]
	path = src/realman_arm
	url = git@gitlab.com:Aki-zel/realman_arm.git
