<launch>

<!-- camera -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
  </include> 

<!-- eyehand -->
  <include file="$(find easy_handeye)/launch/publish.launch">
  </include>

<!-- detect -->
  <include file="$(find find_object_2d)/launch/ros1/find_object_3d_grasp.launch">
  </include>

<!-- tf_listener -->
  <node name="tf_listener" pkg="rm65_grasping" type="tf_listener.py" output="log">
  </node>
 
<!-- grasp_demo -->
  <node name="mygrasp" pkg="rm65_grasping" type="mygrasp.py" output="screen">
  </node>

</launch>
