<launch>
<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_To_cramera" args="x y z qx qy qz qw base_link camera_link"/> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_To_cramera" args="
    -0.035094737624828475 -0.0456128779537601 -0.01486063833576061
    0.005223684082061308 -0.003166704553077452 -0.001393486456179785 0.9999313196906172
    Link6 camera_color_optical_frame"/>
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_color_optical_frame"
      args="0 0 0 -1.57079632679 0 -1.57079632679 camera_color_optical_frame camera_color_frame " /> -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0473096 0.0308597 0.0775646   0.0108814 -0.715752 -0.0119326 0.698168 Link6 camera_color_optical_frame" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="task_frame_broadcaster" args="0.0 0.0 0.40  0.0 0.0 0.0 1.0 ee_link task" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="task1_frame_broadcaster" args="0.20 0 0.200 0 0 3.140 base_link_rm task1" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tee_frame_broadcaster" args="0.0 0.0 0.523 1 0.0 0.0 0 ee_link offset" /> -->
</launch>